.magic {
  max-height: 640px;
  background: url(../images/avif/mash.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &__grad {
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
    min-width: 100%;
    min-height: 640px;
  }
  &__inner {
    padding: 360px 0 0 0;
  }
  &__author {
    width: 151px;
    height: 44px;
    background: $bgcart;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 30px;
    &-img {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    @extend %ws-600;
    font-size: 51px;
    line-height: 110%; /* 56.1px */
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  &__btn {
    width: 198px;
    background: #fff;
    border-color: #fff;
    @extend %ws-600;
    font-size: 16px;
    line-height: 140%;
    a {
      color: $bg;
    }
    span {
      path {
        fill: $accent;
      }
    }
    &:hover {
      background: $accent;
      a {
        color: #fff;
      }
      span {
        path {
          fill: #fff;
        }
      }
    }
  }
  
  &__mob-btn{
    display: none;
  }
}

@media (max-width: 834px) {
  .magic {
    &__inner {
      max-height: 630px;
      padding: 360px 52px 0;
    }
    &__title {
      @extend %ws-600;
      font-size: 38px;
      line-height: 120%; /* 56.1px */
      text-transform: capitalize;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 375px) {
  .magic {
    max-height: 590px;
    &__inner {
      padding: 120px 10px 0;
    }
    &__des-btn{
      display: none;
    }
    &__info{
      display: block;
    }
    .clok{
      width: 100%;
      margin-bottom: 30px;
    }
    &__btn{
      width: 100%;
    }
  }
}
