<section class="topcre">
  <div class="container">
    <div class="topcre__inner">
      <div class="topcre__items">
        <div class="topcre__item topcre__item-one">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>#</span></div>
            <span>Artist</span>
          </div>
          <div class="topcre__item-right">
            <span>Change</span>
            <span>NFTs Sold</span>
            <span>Volume</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>1</span></div>
            <img class="topcre__item-img" src="images/avatar/5.png" alt="">
            <h4 class="topcre__item-name">Jaydon Ekstrom</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>2</span></div>
            <img class="topcre__item-img" src="images/avatar/6.png" alt="">
            <h4 class="topcre__item-name">Ruben Carder</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>3</span></div>
            <img class="topcre__item-img" src="images/avatar/7.png" alt="">
            <h4 class="topcre__item-name">Alfredo Septimus</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>4</span></div>
            <img class="topcre__item-img" src="images/avatar/8.png" alt="">
            <h4 class="topcre__item-name">Davis Franci</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>5</span></div>
            <img class="topcre__item-img" src="images/avatar/9.png" alt="">
            <h4 class="topcre__item-name">Livia Rosser</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>6</span></div>
            <img class="topcre__item-img" src="images/avatar/2.png" alt="">
            <h4 class="topcre__item-name">Kianna Donin</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>7</span></div>
            <img class="topcre__item-img" src="images/avatar/3.png" alt="">
            <h4 class="topcre__item-name">Phillip Lipshutz</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>8</span></div>
            <img class="topcre__item-img" src="images/avatar/10.png" alt="">
            <h4 class="topcre__item-name">Maria Rosser</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>9</span></div>
            <img class="topcre__item-img" src="images/avatar/11.png" alt="">
            <h4 class="topcre__item-name">Kianna Stanton</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>10</span></div>
            <img class="topcre__item-img" src="images/avatar/16.png" alt="">
            <h4 class="topcre__item-name">Angel Lubin</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>11</span></div>
            <img class="topcre__item-img" src="images/avatar/20.png" alt="">
            <h4 class="topcre__item-name">Allison Torff</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>12</span></div>
            <img class="topcre__item-img" src="images/avatar/4.png" alt="">
            <h4 class="topcre__item-name">Davis Workman</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>13</span></div>
            <img class="topcre__item-img" src="images/avatar/19.png" alt="">
            <h4 class="topcre__item-name">Lindsey Lipshutz</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>14</span></div>
            <img class="topcre__item-img" src="images/avatar/1.png" alt="">
            <h4 class="topcre__item-name">Randy Carder</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>15</span></div>
            <img class="topcre__item-img" src="images/avatar/12.png" alt="">
            <h4 class="topcre__item-name">Lydia Culhane</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>16</span></div>
            <img class="topcre__item-img" src="images/avatar/15.png" alt="">
            <h4 class="topcre__item-name">Rayna Bator</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>17</span></div>
            <img class="topcre__item-img" src="images/avatar/13.png" alt="">
            <h4 class="topcre__item-name">Jocelyn Westervelt</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>18</span></div>
            <img class="topcre__item-img" src="images/avatar/14.png" alt="">
            <h4 class="topcre__item-name">Marilyn Torff</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>19</span></div>
            <img class="topcre__item-img" src="images/avatar/16.png" alt="">
            <h4 class="topcre__item-name">Skylar Levin</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
        <div class="topcre__item">
          <div class="topcre__item-left">
            <div class="topcre__item-num"><span>20</span></div>
            <img class="topcre__item-img" src="images/avatar/17.png" alt="">
            <h4 class="topcre__item-name">Terry Dorwart</h4>
          </div>
          <div class="topcre__item-right">
            <span>+1.41%</span>
            <span>602</span>
            <span>12.4 ETH</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
