<section class="tabs-rank">
  <div class="container">
    <div class="tabs-rank__inner">
      <div class="tabs">
        <div class="tabs__item tabs__item-active">
          <span class="tabs__item-span-one">Today</span>
          <span class="tabs__item-span-two">1d</span>
          <!-- <span class="tabs__item-span-num">302</span> -->
        </div>
        <div class="tabs__item">
          <span class="tabs__item-span-one">This Week</span>
          <span class="tabs__item-span-two">7d</span>
          <!-- <span class="tabs__item-span-num">67</span> -->
        </div>
        <div class="tabs__item">
          <span class="tabs__item-span-one">This Month</span>
          <span class="tabs__item-span-two">30d</span>
          <!-- <span class="tabs__item-span-num">67</span> -->
        </div>
        <div class="tabs__item">
          <span class="tabs__item-span-one">All Time</span>
          <span class="tabs__item-span-two">All Time</span>
          <!-- <span class="tabs__item-span-num">67</span> -->
        </div>
      </div>
    </div>
  </div>
</section>
