<section class="marketplace">
  <div class="container">
    <div class="marketplace__inner">
      <div class="marketplace__items">

        <div class="cart marketplace__cart">
          <div class="cart__img">
            <img src="images/more/19.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Magic Mushroom 0325</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/3.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Shroomie</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        

        <div class="cart marketplace__cart">
          <div class="cart__img">
            <img src="images/more/20.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Happy Robot 032</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/4.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">BeKind2Robots</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>

        <div class="cart marketplace__cart">
          <div class="cart__img">
            <img src="images/more/21.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Happy Robot 024</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/4.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">BeKind2Robots</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>

        <div class="cart marketplace__cart">
          <div class="cart__img">
            <img src="images/more/22.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Designer Bear</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/2.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Mr Fox</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>

        <div class="cart marketplace__cart">
          <div class="cart__img">
            <img src="images/more/23.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Colorful Dog 0356</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/12.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Keepitreal</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>

        <div class="cart marketplace__cart">
          <div class="cart__img">
            <img src="images/more/24.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Dancing Robot 0312</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/10.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Robotica</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>

        <div class="cart marketplace__cart">
          <div class="cart__img">
            <img src="images/more/25.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Cherry Blossom Girl 035</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/15.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">MoonDancer</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>

        <div class="cart marketplace__cart">
          <div class="cart__img">
            <img src="images/more/26.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Space Travel</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/16.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">NebulaKid</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>

        <div class="cart marketplace__cart">
          <div class="cart__img">
            <img src="images/more/27.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Sunset Dimension</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/1.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Animakid</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>

        <div class="cart marketplace__cart">
          <div class="cart__img">
            <img src="images/more/28.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Desert Walk</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/17.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Catch 22</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>

        <div class="cart marketplace__cart">
          <div class="cart__img">
            <img src="images/more/29.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">IceCream Ape 0324</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/18.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Ice Ape Club</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>

        <div class="cart marketplace__cart">
          <div class="cart__img">
            <img src="images/more/30.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Colorful Dog 0344</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/19.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">PuppyPower</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
