<section class="tabs-mar">
  <div class="container">
    <div class="tabs-mar__inner">
      <div class="tabs">
        <div class="tabs__item tabs__item-active">
          <span class="tabs__item-span-one">Created</span>
          <span class="tabs__item-span-two">302</span>
          <span class="tabs__item-span-num">302</span>
        </div>
        <div class="tabs__item">
          <span class="tabs__item-span-one">owned</span>
          <span class="tabs__item-span-two">67</span>
          <span class="tabs__item-span-num">67</span>
        </div>
      </div>
    </div>
  </div>
</section>
