.cart {
  max-width: 330px;
  background: $bgcart;
  overflow: hidden;
  border-radius: 20px;
  &__img {
    width: 100%;
  }
  &__info {
    padding: 20px 30px 25px;
  }
  &__title {
    a {
      color: #fff;
    }
    @extend %ws-600;
    font-size: 22px;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  &__author {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    &-img {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
    &-name {
      @extend %sm-400;
      font-size: 16px;
      line-height: 140%; /* 22.4px */
      a {
        color: #fff;
      }
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
    &-title {
      color: #858584;
      @extend%sm-400;
      font-size: 12px;
      line-height: 110%; /* 13.2px */
      margin-bottom: 6px;
    }
    &-cash {
      @extend%sm-400;
      font-size: 16px;
      line-height: 140%; /* 22.4px */
    }
    &-left {
      text-align: left;
    }
    &-right {
      text-align: right;
    }
  }
}


@media (max-width: 375px) {
  .cart {
    &__price {
      &-cash {
        font-size: 12px;
      }
    }
  }
}





// <div class="cart work__cart">
//   <div class="cart__img">
//     <img src="images/more/1.png" alt="" />
//   </div>
//   <div class="cart__info">
//     <h5 class="cart__title">
//       <a href="#" class="cart__link">NFT Name</a>
//     </h5>
//     <div class="cart__author">
//       <img
//         class="cart__author-img"
//         src="images/avatar/14.png"
//         alt=""
//       />
//       <p class="cart__author-name">
//         <a href="#" class="cart__author-link">NFT Artist</a>
//       </p>
//     </div>
//     <div class="cart__price">
//       <div class="cart__price-left">
//         <div class="cart__price-title">Price</div>
//         <div class="cart__price-cash">1.63 ETH</div>
//       </div>
//       <div class="cart__price-right">
//         <div class="cart__price-title">Highest Bid</div>
//         <div class="cart__price-cash">0.33 wETH</div>
//       </div>
//     </div>
//   </div>
// </div>