<section class="categ">
  <div class="container">
    <div class="categ__inner">
      <h4 class="categ__title">Browse Categories</h4>
      <div class="categ__items">
        <div class="categ__item">
          <span>
            <svg width="100" height="100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.813 84.375h28.125a20.312 20.312 0 10-20.313-20.313c0 14.063-7.813 20.313-7.813 20.313z" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M43.906 45.39c7.5-10.117 26.562-33.28 43.984-33.28 0 17.421-23.164 36.484-33.281 43.984m-2.656-20.702A33.36 33.36 0 0164.61 48.048" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </span>
          <div class="categ__img-box">
            <img class="categ__img" src="images/categ/1.png" alt="">
          </div>
          <h6 class="categ__name">Art</h6>
        </div>
        <div class="categ__item">
          <span>
            <svg width="100" height="100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.335 67.577l9.454-53.554a3.084 3.084 0 013.593-2.54l21.563 3.79a3.164 3.164 0 012.539 3.633l-9.492 53.867a14.102 14.102 0 01-16.055 11.445c-7.773-1.25-12.969-8.867-11.602-16.64z" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M46.21 48.75l28.476-10.352a3.126 3.126 0 014.024 1.875l7.5 20.547a3.125 3.125 0 01-1.875 3.985l-51.406 18.71" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M85.938 63.477V81.25a3.125 3.125 0 01-3.126 3.125H28.126" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M28.125 75a4.688 4.688 0 100-9.375 4.688 4.688 0 000 9.375z" fill="#fff"/></svg>
          </span>
          <div class="categ__img-box">
            <img class="categ__img" src="images/categ/2.png" alt="">
          </div>
          <h6 class="categ__name">Collectibles</h6>
        </div>
        <div class="categ__item">
          <span>
            <svg width="100" height="100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M70.313 78.125c6.04 0 10.937-4.897 10.937-10.938 0-6.04-4.897-10.937-10.938-10.937-6.04 0-10.937 4.897-10.937 10.938 0 6.04 4.897 10.937 10.938 10.937zm-50 12.5c6.04 0 10.937-4.897 10.937-10.938 0-6.04-4.897-10.937-10.938-10.937-6.04 0-10.937 4.897-10.937 10.938 0 6.04 4.897 10.937 10.938 10.937zM81.25 31.25l-50 12.5" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M31.25 79.688V25l50-12.5v54.688" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </span>
          <div class="categ__img-box">
            <img class="categ__img" src="images/categ/3.png" alt="">
          </div>
          <h6 class="categ__name">Music</h6>
        </div>
        <div class="categ__item">
          <span>
            <svg width="100" height="100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M81.25 81.25h-62.5A6.25 6.25 0 0112.5 75V31.25A6.25 6.25 0 0118.75 25h12.5l6.25-9.375h25L68.75 25h12.5a6.25 6.25 0 016.25 6.25V75a6.25 6.25 0 01-6.25 6.25z" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M50 65.625c7.767 0 14.063-6.296 14.063-14.063C64.063 43.797 57.766 37.5 50 37.5c-7.767 0-14.063 6.296-14.063 14.063 0 7.766 6.297 14.062 14.063 14.062z" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </span>
          <div class="categ__img-box">
            <img class="categ__img" src="images/categ/4.png" alt="">
          </div>
          <h6 class="categ__name">Photography</h6>
        </div>
        <div class="categ__item">
          <span>
            <svg width="100" height="100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.375 23.438h50a12.5 12.5 0 0112.5 12.5v37.5a3.125 3.125 0 01-3.125 3.124h-50a12.5 12.5 0 01-12.5-12.5v-37.5a3.125 3.125 0 013.125-3.125v0zm62.5 20.312l21.875-12.5v37.5l-21.875-12.5" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </span>
          <div class="categ__img-box">
            <img class="categ__img" src="images/categ/5.png" alt="">
          </div>
          <h6 class="categ__name">Video</h6>
        </div>
        <div class="categ__item">
          <span>
            <svg width="100" height="100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M84.375 50v18.75M75 59.375h18.75m-60.937-43.75V31.25M25 23.438h15.625m25 48.437v12.5m-6.25-6.25h12.5m.947-63.425L14.734 72.787a3.125 3.125 0 000 4.42l8.08 8.079a3.125 3.125 0 004.419 0L85.32 27.198a3.125 3.125 0 000-4.42L77.242 14.7a3.125 3.125 0 00-4.42 0zM56.25 31.25l12.5 12.5" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </span>
          <div class="categ__img-box">
            <img class="categ__img" src="images/categ/6.png" alt="">
          </div>
          <h6 class="categ__name">Utility</h6>
        </div>
        <div class="categ__item">
          <span>
            <svg width="100" height="100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M50 87.5c20.71 0 37.5-16.79 37.5-37.5S70.71 12.5 50 12.5 12.5 29.29 12.5 50 29.29 87.5 50 87.5z" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M23.438 23.517A37.46 37.46 0 0134.374 50a37.461 37.461 0 01-10.938 26.484m53.127-52.967a37.54 37.54 0 000 52.968M12.5 50h75M50 12.5v75" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </span>
          <div class="categ__img-box">
            <img class="categ__img" src="images/categ/7.png" alt="">
          </div>
          <h6 class="categ__name">Sport</h6>
        </div>
        <div class="categ__item">
          <span>
            <svg width="100" height="100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M50 84.375c18.985 0 34.375-15.39 34.375-34.375S68.985 15.625 50 15.625 15.625 31.015 15.625 50 31.015 84.375 50 84.375z" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M71.953 23.556C82.773 20.586 90.898 20.86 93.32 25c4.297 7.46-11.601 24.727-35.508 38.516C33.906 77.306 11.015 82.462 6.68 75c-2.382-4.14 1.446-11.328 9.415-19.219" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </span>
          <div class="categ__img-box">
            <img class="categ__img" src="images/categ/8.png" alt="">
          </div>
          <h6 class="categ__name">Virtual Worlds</h6>
        </div>
      </div>
    </div>
  </div>
</section>