<section class="how">
  <div class="container">
    <div class="how__inner main-padding">
      <div class="how__top">
        <div class="how__info">
          <h2 class="how__title title">How it works</h2>
          <p class="how__text sub-title">Find out how to get started</p>
        </div>
      </div>
      <div class="how__items">
        <div class="how__item">
          <img class="how__item-img" src="images/how/1.png" alt="" />
          <div class="how__item-info">
            <h6 class="how__item-title">Setup Your wallet</h6>
            <p class="how__item-text">
              Set up your wallet of choice. Connect it to the Animarket by
              clicking the wallet icon in the top right corner.
            </p>
          </div>
        </div>
        <div class="how__item">
          <img class="how__item-img" src="images/how/2.png" alt="" />
          <div class="how__item-info">
            <h6 class="how__item-title">Create Collection</h6>
            <p class="how__item-text">
              Upload your work and setup your collection. Add a description,
              social links and floor price.
            </p>
          </div>
        </div>
        <div class="how__item">
          <img class="how__item-img" src="images/how/3.png" alt="" />
          <div class="how__item-info">
            <h6 class="how__item-title">Start Earning</h6>
            <p class="how__item-text">
              Choose between auctions and fixed-price listings. Start earning by
              selling your NFTs or trading others.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
