<section class="trend">
  <div class="container">
    <div class="trend__inner">
      <h1 class="trend__title">Trending Collection</h1>
      <p class="trend__text">Checkout our weekly updated trending collection.</p>
      <div class="trend__items">
        <div class="trend__item">
          <div class="trend__main-img">
            <img src="images/trend/m1.png" alt="">
          </div>
          <div class="trend__box-items">
            <div class="trend__box-item">
              <img src="images/trend/s1.png" alt="">
            </div>
            <div class="trend__box-item">
              <img src="images/trend/s2.png" alt="">
            </div>
            <div class="trend__box-item trend__box-item_num">
              <a href="#" class="trend__box-link">1025+</a>
            </div>
          </div>
          <h4 class="trend__item-title">DSGN Animals</h4>
          <div class="hero__author-info">
            <img class="hero__author-img" src="images/avatar/2.png" alt="">
            <p class="hero__author-name">
              <a href="#" class="hero__link">MrFox</a>
            </p>
          </div>
        </div>
        <div class="trend__item">
          <div class="trend__main-img">
            <img src="images/trend/m2.png" alt="">
          </div>
          <div class="trend__box-items">
            <div class="trend__box-item">
              <img src="images/trend/s3.png" alt="">
            </div>
            <div class="trend__box-item">
              <img src="images/trend/s4.png" alt="">
            </div>
            <div class="trend__box-item trend__box-item_num">
              <a href="#" class="trend__box-link">1025+</a>
            </div>
          </div>
          <h4 class="trend__item-title">Magic Mushrooms</h4>
          <div class="hero__author-info">
            <img class="hero__author-img" src="images/avatar/3.png" alt="">
            <p class="hero__author-name">
              <a href="#" class="hero__link">Shroomie</a>
            </p>
          </div>
        </div>
        <div class="trend__item">
          <div class="trend__main-img">
            <img src="images/trend/m3.png" alt="">
          </div>
          <div class="trend__box-items">
            <div class="trend__box-item">
              <img src="images/trend/s5.png" alt="">
            </div>
            <div class="trend__box-item">
              <img src="images/trend/s6.png" alt="">
            </div>
            <div class="trend__box-item trend__box-item_num">
              <a href="#" class="trend__box-link">1025+</a>
            </div>
          </div>
          <h4 class="trend__item-title">Disco Machines</h4>
          <div class="hero__author-info">
            <img class="hero__author-img" src="images/avatar/4.png" alt="">
            <p class="hero__author-name">
              <a href="#" class="hero__link">BeKind2Robots</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>