<section class="work">
  <div class="container">
    <div class="work__inner">
      <div class="work__tabs">
        <div class="work__tabs-item work__tabs-item-active">
          Created
          <span>302</span>
        </div>
        <div class="work__tabs-item">
          owned
          <span>67</span>
        </div>
        <div class="work__tabs-item">
          Collection
          <span>4</span>
        </div>
      </div>
    </div>
  </div>
  <div class="work__content">
    <div class="container">
      <div class="work__content-tabs work__content-tabs-active">
        <div class="cart work__cart">
          <div class="cart__img">
            <img src="images/more/1.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">NFT Name</a>
            </h5>
            <div class="cart__author">
              <img
                class="cart__author-img"
                src="images/avatar/14.png"
                alt=""
              />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">NFT Artist</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart work__cart">
          <div class="cart__img">
            <img src="images/more/2.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">NFT Name</a>
            </h5>
            <div class="cart__author">
              <img
                class="cart__author-img"
                src="images/avatar/14.png"
                alt=""
              />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">NFT Artist</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart work__cart">
          <div class="cart__img">
            <img src="images/more/3.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">NFT Name</a>
            </h5>
            <div class="cart__author">
              <img
                class="cart__author-img"
                src="images/avatar/14.png"
                alt=""
              />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">NFT Artist</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart work__cart">
          <div class="cart__img">
            <img src="images/more/4.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">NFT Name</a>
            </h5>
            <div class="cart__author">
              <img
                class="cart__author-img"
                src="images/avatar/14.png"
                alt=""
              />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">NFT Artist</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart work__cart">
          <div class="cart__img">
            <img src="images/more/5.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">NFT Name</a>
            </h5>
            <div class="cart__author">
              <img
                class="cart__author-img"
                src="images/avatar/14.png"
                alt=""
              />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">NFT Artist</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart work__cart">
          <div class="cart__img">
            <img src="images/more/6.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">NFT Name</a>
            </h5>
            <div class="cart__author">
              <img
                class="cart__author-img"
                src="images/avatar/14.png"
                alt=""
              />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">NFT Artist</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart work__cart">
          <div class="cart__img">
            <img src="images/more/7.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">NFT Name</a>
            </h5>
            <div class="cart__author">
              <img
                class="cart__author-img"
                src="images/avatar/14.png"
                alt=""
              />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">NFT Artist</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart work__cart">
          <div class="cart__img">
            <img src="images/more/8.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">NFT Name</a>
            </h5>
            <div class="cart__author">
              <img
                class="cart__author-img"
                src="images/avatar/14.png"
                alt=""
              />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">NFT Artist</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart work__cart">
          <div class="cart__img">
            <img src="images/more/9.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">NFT Name</a>
            </h5>
            <div class="cart__author">
              <img
                class="cart__author-img"
                src="images/avatar/14.png"
                alt=""
              />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">NFT Artist</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
