html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  // font: inherit;
  // color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  height: 100%;
}

body {
  background: $bg;
  color: $default;
  font-size: 16px;
  line-height: normal;
  @extend %ws-400;
  display: flex;
  flex-direction: column;
  line-height: 140%; /* 22.4px */
}

.main {
  flex-grow: 1;
}

.container__header {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  width: 60px;
  height: 60px;
  border: 1px solid $accent;
  border-radius: 20px;
  padding-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $accent;
  cursor: pointer;
  &-link {
    color: #fff;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-45%);
      left: -32px;
    }
  }
  &:hover {
    background: transparent;
    span {
      path {
        fill: $accent;
      }
    }
  }
}

.title {
  @extend %ws-600;
  font-size: 38px;
  line-height: 120%; /* 45.6px */
  text-transform: capitalize;
  margin-bottom: 10px;
}

.sub-title {
  @extend %ws-400;
  font-size: 22px;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}

.main-padding {
  padding: 80px 0;
}



@media (max-width: 834px) {
  .title {
    font-size: 28px;
    line-height: 140%; /* 39.2px */
  }

  .sub-title {
    font-size: 16px;
    line-height: 140%; /* 22.4px */
  }
  .main-padding {
    padding: 40px 52px;
  }
}

@media (max-width: 375px) {
  .main-padding {
    padding: 40px 10px;
  }
}

// @media (max-width: 1200px) {}
// @media (max-width: 1200px) {}
// @media (max-width: 1200px) {}
// @media (max-width: 1200px) {}
// @media (max-width: 1200px) {}
// @media (max-width: 1200px) {}
// @media (max-width: 1200px) {}
// @media (max-width: 1200px) {}
