$accent: #A259FF;
$default: #fff;
$textsub: #CCC;
$title: #FFF;
$bg: #2B2B2B;
$bgcart: #3B3B3B;
$border: #858584;


%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}


%sm-400 {
  font-family: 'SpaceMono-Regular', sans-serif;
  font-weight: 400;
}

%sm-700 {
  font-family: 'SpaceMono-Bold', sans-serif;
  font-weight: 700;
}


%ws-400 {
  font-family: 'WorkSans-Regular', sans-serif;
  font-weight: 400;
}

%ws-600 {
  font-family: 'WorkSans-SemiBold', sans-serif;
  font-weight: 600;
}
