<section class="content">
  <div class="container">
    <div class="content__inner">
      <div class="content__top">
        <h2 class="content__title">More from this artist</h2>
        <div class="content__des-btn">
          <div class="btn content__btn">
            <a class="btn-link" href="#">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.5 10C2.5 9.65482 2.77982 9.375 3.125 9.375H16.875C17.2202 9.375 17.5 9.65482 17.5 10C17.5 10.3452 17.2202 10.625 16.875 10.625H3.125C2.77982 10.625 2.5 10.3452 2.5 10Z"
                    fill="#fff"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10.8081 3.93306C11.0521 3.68898 11.4479 3.68898 11.6919 3.93306L17.3169 9.55806C17.561 9.80214 17.561 10.1979 17.3169 10.4419L11.6919 16.0669C11.4479 16.311 11.0521 16.311 10.8081 16.0669C10.564 15.8229 10.564 15.4271 10.8081 15.1831L15.9911 10L10.8081 4.81694C10.564 4.57286 10.564 4.17714 10.8081 3.93306Z"
                    fill="#fff"
                  />
                </svg>
              </span>
              Place Bid
            </a>
          </div>

        </div>
      </div>
      <div class="content__items">
        <div class="cart content__cart">
          <div class="cart__img">
            <img src="images/more/10.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Foxy Life</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/11.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Orbitian</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart content__cart">
          <div class="cart__img">
            <img src="images/more/11.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Cat from future</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/11.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Orbitian</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart content__cart">
          <div class="cart__img">
            <img src="images/more/12.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Psycho Dog</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/11.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Orbitian</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart content__cart">
          <div class="cart__img">
            <img src="images/more/13.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Designer Bear</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/11.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Orbitian</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart content__cart">
          <div class="cart__img">
            <img src="images/more/14.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Dancing Robot 0375</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/11.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Orbitian</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart content__cart">
          <div class="cart__img">
            <img src="images/more/15.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Dancing Robot 0356</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/11.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Orbitian</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart content__cart">
          <div class="cart__img">
            <img src="images/more/16.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Dancing Robot 0321</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/11.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Orbitian</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart content__cart">
          <div class="cart__img">
            <img src="images/more/17.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Dancing Robot 0512</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/11.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Orbitian</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart content__cart">
          <div class="cart__img">
            <img src="images/more/18.png" alt="" />
          </div>
          <div class="cart__info">
            <h5 class="cart__title">
              <a href="#" class="cart__link">Dancing Robot 0024</a>
            </h5>
            <div class="cart__author">
              <img class="cart__author-img" src="images/avatar/11.png" alt="" />
              <p class="cart__author-name">
                <a href="#" class="cart__author-link">Orbitian</a>
              </p>
            </div>
            <div class="cart__price">
              <div class="cart__price-left">
                <div class="cart__price-title">Price</div>
                <div class="cart__price-cash">1.63 ETH</div>
              </div>
              <div class="cart__price-right">
                <div class="cart__price-title">Highest Bid</div>
                <div class="cart__price-cash">0.33 wETH</div>
              </div>
            </div>
          </div>
        </div>
        <div class="content__mob-btn">
          <div class="btn content__btn">
            <a class="btn-link" href="#">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.5 10C2.5 9.65482 2.77982 9.375 3.125 9.375H16.875C17.2202 9.375 17.5 9.65482 17.5 10C17.5 10.3452 17.2202 10.625 16.875 10.625H3.125C2.77982 10.625 2.5 10.3452 2.5 10Z"
                    fill="#fff"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10.8081 3.93306C11.0521 3.68898 11.4479 3.68898 11.6919 3.93306L17.3169 9.55806C17.561 9.80214 17.561 10.1979 17.3169 10.4419L11.6919 16.0669C11.4479 16.311 11.0521 16.311 10.8081 16.0669C10.564 15.8229 10.564 15.4271 10.8081 15.1831L15.9911 10L10.8081 4.81694C10.564 4.57286 10.564 4.17714 10.8081 3.93306Z"
                    fill="#fff"
                  />
                </svg>
              </span>
              Place Bid
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
