<section class="reg wallet">
  <div class="reg__inner">
    <div class="reg__img">
      <div class="reg__img-bg" style="background-image: url(images/avif/reg-wall.avif);"></div>
      <!-- <img src="images/avif/reg-fon.avif" alt=""> -->
    </div>
    <div class="reg__info">
      <h2 class="reg__info-title">Connect wallet</h2>
      <p class="reg__info-text">
        Choose a wallet you want to connect. There are several wallet providers.
      </p>
      <div class="wallet__btn">
        <a class="wallet__btn-link" href="#">
          <img src="images/avif/reg-form/fox.avif" alt="">
          <span>Metamask</span>
        </a>
      </div>
      <div class="wallet__btn">
        <a class="wallet__btn-link" href="#">
          <img src="images/avif/reg-form/wall.avif" alt="">
          <span>Wallet Connect</span>
        </a>
      </div>
      <div class="wallet__btn">
        <a class="wallet__btn-link" href="#">
          <img src="images/avif/reg-form/coinbase.avif" alt="">
          <span>Coinbase</span>
        </a>
      </div>
    </div>
  </div>
</section>
